@charset "utf-8";

.container{
    width: 1420px;
    height: 100%;
    margin: 0 auto;
    background-color: yellow;
}

header{
    width: 100%;
    height: 160px;
}

#header_top{
    width: 100%;
    height: 85px;
    background-color: #eee;
}

#header_top .container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#search{
    width: 430px;
    height: 50px;
    float: right;
    background-color: violet;
}

#kakao{
    width: 570px;
    height: 40px;
    float: left;
    margin-right: 490px;
    background-color: brown;
}



#header_main{
    width: 1160px;
    height: 120px;
    margin: 0 auto;
    background-color: tomato;
}

#header_main .container{
    width: 1160px;
    height: 120px;
    margin: 0 auto;
    background-color: tomato;
    display:flex; 
    flex-flow: row nowrap;
}

#nav1{
    width: 125px;
    height: 50px;
    border-radius: 25px;
    margin-top: 20px;
    background-color: aqua;
}

#nav2{
    width: 66px;
    height: 50px;
    border-radius: 24px;
    margin-left: 6px;
    margin-top: 20px;
    background-color: aqua;
}

#nav3{
    width: 95px;
    height: 50px;
    border-radius: 24px;
    margin-left: 6px;
    margin-top: 20px;
    background-color: aqua;
}

                   


#header_bottom{
    width: 1160px;
    height: 55px;
    border-radius: 8px;
    background-color: aquamarine;
    margin: 10px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#right1{
    width: 37px;
    height: 37px;
    border-radius: 18.5px;
    background-color: tomato;
    margin-left: 14px;
    
}

#left{
    width: 130px;
    height: 20px;
    background-color: aqua;
    margin-left: 6px;
}

#right2{
    width: 34px;
    height: 34px;
    border-radius: 17px;
    background-color: rgb(115, 0, 255);
    margin-left: auto;
    margin-right: 11px;
}

 /* slider */

#slider{
    width: 1160px;
    height: 580px;
    background-color: seagreen;
    margin: 0 auto;
    margin-top: 110px;
}

.swiper-button-next{
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 27.5px;
    color: white;
    background-color: black;
}

.swiper-button-prev{
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 27.5px;
    color: white;
    background-color: black
}


#slider .swiper-navigation-icon {
    width: 40%;
    height: 40%;
    margin: 0 auto;
}

.swiper-pagination {
    width: 60px;
    height: 20px;
    border-radius: 12px;
    background-color: brown;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 582px;
    height: 577px;
    object-fit: cover;
}


/* box */

.boxWrap {
    width: 1160px;
    height: 340px;
    background-color: violet;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.box {
    width: 190px;
    height: 340px;
    background-color: paleturquoise;
    margin: auto;
    border-radius: 8px;
}

/* box2*/

.boxWrap2 {
    width: 1160px;
    height: 340px;
    background-color: violet;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.box2 {
    width: 190px;
    height: 340px;
    background-color: paleturquoise;
    margin: auto;
    border-radius: 8px;
}

/* slider2 */

#slider2 {
    width: 1160px;
    height: 255px;
    background-color: orange;
    margin: 0 auto;
}

 #slider2 .swiper-slide {
     text-align: center;
     font-size: 10px;
     background: #444;
     display: block;
     margin-left: 3px;
 }

 #slider2 .swiper-slide img {
     display: block;
     width: 100%;
     height: 80%;
     object-fit: cover;
 }
#slider2 .swiper-button-next{
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 27.5px;
    color: white;
    background-color: black;
}

#slider2 .swiper-button-prev{
    width: 50px;
    height: 50px;
    border: 1px solid #ddd;
    border-radius: 27.5px;
    color: white;
    background-color: black
}

#slider2 .swiper-navigation-icon {
    width: 40%;
    height: 40%;
    margin: 0 auto;
}