@charset "utf-8";

.container{
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    background-color: yellow;
}

header{
    width: 100%;
    height: 160px;
}

#header_top{
    width: 100%;
    height: 85px;
    background-color: #eee;
}

#header_top .container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#search{
    width: 600px;
    height: 50px;
    float: left;
    background-color: violet;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 10px;
}

#searchBox{
    width: 200px;
    height: 34px;
    border-radius: 21.5px;
    background-color: #999;
    margin-left: 120px;
    margin-top: 10px;
}

#search #searchBox img{
    float: right;
    margin: 5px 9px;
}

#search img{
    margin-top: 10px;
}



#kakao{
    width: 800px;
    height: 40px;
    float: left;
    background-color: brown;
}

#kakao img{
    float: left;
    margin: 14px 30px;
}



#header_main{
    width: 956px;
    height: 56px;
    margin: 0 auto;
    background-color: tomato;
}

#header_main .container{
    width: 934px;
    height: 56px;
    margin: 0 auto;
    background-color: tomato;
    display:flex; 
    flex-flow: row nowrap;
}

#nav1{
    width: 97px;
    height: 35px;
    border-radius: 25px;
    margin-top: 20px;
    background-color: aqua;
}

#nav2{
    width: 52px;
    height: 35px;
    border-radius: 24px;
    margin-left: 6px;
    margin-top: 20px;
    background-color: aqua;
}

#nav3{
    width: 74px;
    height: 35px;
    border-radius: 24px;
    margin-left: 6px;
    margin-top: 20px;
    background-color: aqua;
}

                   


#header_bottom{
    width: 934px;
    height: 44px;
    border-radius: 8px;
    background-color: #eeeeee;
    margin: 60px auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#right1{
    width: 32px;
    height: 32px;
    border-radius: 18.5px;

    margin-left: 11px;
    
}

#right1 img{
    width: 32px;
    height: 32px;
}

#left{
    width: 200px;
    height: 20px;
    margin-left: 3px;
    font-size: 14px;
}

#right2{
    width: 24px;
    height: 24px;
    border-radius: 17px;
    margin-left: auto;
    margin-right: 11px;
}

#right2 img{
    width: 24px;
    height: 24px;
}

 /* slider */

#slider{
    width: 934px;
    height: 460px;
    background-color: seagreen;
    margin: 0 auto;
    margin-top: 95px;
}

.swiper-button-next{
    width: 44px;
    height: 44px;
    border: 1px solid #ddd;
    border-radius: 27.5px;
    color: white;
    background-color: black;
}

.swiper-button-prev{
    width: 44px;
    height: 44px;
    border: 1px solid #ddd;
    border-radius: 27.5px;
    color: white;
    background-color: black
}


#slider .swiper-navigation-icon {
    width: 40%;
    height: 40%;
    margin: 0 auto;
}

.swiper-pagination {
    width: 60px;
    height: 20px;
    border-radius: 12px;
    background-color: brown;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 582px;
    height: 577px;
    object-fit: cover;
}


/* box */

.boxWrap {
    width: 934px;
    height: 293px;
    background-color: violet;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.box {
    width: 152px;
    height: 274px;
    background-color: paleturquoise;
    margin: auto;
    border-radius: 8px;
}


/* box2*/

.boxWrap2 {
    width: 934px;
    height: 293px;
    background-color: violet;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.box2 {
    width: 152px;
    height: 217px;
    background-color: paleturquoise;
    margin: auto;
    border-radius: 8px;
}


/* slider2 */

#slider2 {
    width: 934px;
    height: 216px;
    background-color: orange;
    margin: 0 auto;
}

 #slider2 .swiper-slide {
     text-align: center;
     font-size: 10px;
     background: #444;
     display: block;
     margin-left: 3px;
 }

 #slider2 .swiper-slide img {
     display: block;
     width: 98px;
     height: 140.14px;
     object-fit: cover;
 }
#slider2 .swiper-button-next{
    width: 36px;
    height: 36px;
    border: 1px solid #ddd;
    border-radius: 27.5px;
    color: white;
    background-color: black;
}

#slider2 .swiper-button-prev{
    width: 36px;
    height: 36px;
    border: 1px solid #ddd;
    border-radius: 27.5px;
    color: white;
    background-color: black
}

#slider2 .swiper-navigation-icon {
    width: 40%;
    height: 40%;
    margin: 0 auto;
}

.boxWrap3 {
    width: 934px;
    height: 293px;
    background-color: violet;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.box3 {
    width: 152px;
    height: 217px;
    background-color: paleturquoise;
    margin: auto;
    border-radius: 8px;
}

section{
    width: 934px;
    height: 111px;
    margin: 0 auto;
    background-color: yellow;
    position: relative;
}

section img{
    width: 786px;
    height: 111px;
    margin: 0 74px;
    position: relative;
}

section .ggap{
    position: absolute;
    width: 208px;
    height: 32px;
    margin-bottom: 200px;
    background-color: #444;
}


footer{
    width: 934px;
    height: 230px;
    margin: 0 auto;
    background-color: springgreen;
}


