@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

.h3 {
    width: 934px;
    height: 22px;
    font-size: 14px;
    margin: 0 auto;
    
}

#kakao h3{
    font-size: 15.5px;
    margin: 14px 30px;
}

.menu p{
    font-size: 14px;
    color: #222;
    font-weight: 400;
}

.middle p{
    font-size: 13px;
    color: #999;
}

.last p{
    font-size: 13px;
    color: #999;
    line-height: 4;
}